<div class="overflow-hidden">
  <div class="row">

    <%= render 'layouts/sidebar' %>

    <div class="col">
      <%= render 'layouts/navbar' %>

      <div class="row">
        <div class="col-9">
          <div>
            <%= render 'form' %>
          </div>

          <div>
            <%= render 'timeline' %>
          </div>
        </div>
        <div class="col bg-success">
          <h3>This will be who-to-follow section</h3>
          <br><br>

          <ul class="list-unstyled h5">
            <% (User.all - current_user.ppl_following).each do |user| %>
              <% unless user == current_user %>
                <li> <%=link_to user.username, user_path(user)%> </li> <br>
              <% end %>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>