<div class="overflow-hidden">
  <div class="row">

    <%= render 'layouts/sidebar' %>

    <div class="col">
      <%= render 'layouts/navbar' %>

      <div class="row">
        <div class="col-9 bg-white">
          <h3>This will be profile tweets + photo </h3>

          <%= image_tag @user.coverImage.standard.url, class: 'photo-hero' %>

          <%= image_tag @user.photo.thumb.url, class: 'photo-hero' %>


        </div>

        <div class="col">
          <%= render 'profile' %>
        </div>
      </div>
    </div>
  </div>
</div>