<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneRorTwitterRedesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <%= yield %>

    <script src="https://kit.fontawesome.com/859eff7750.js"></script>
  </body>
</html>
